<html>

<head></head>

<body>
    <h1>Administrador de Finanzas Personales</h1>

    <div>
        <!-- La etiqueta z crea un hipervinculo, en el atributo href debe indicarse la URL a donde lleva el hipervinculo -->
        <a href="/view/new-card">Agregar tarjeta</a>
        <!-- esta e suna URL relativa -->
    </div>
    <div>
        <a href="/view/purchase">Simular Compra</a>
    </div>
    <div>
        <a href="/view/saving">Ahorro programado sugerido</a>
    </div>
    <div>
        <a href="/view/plan">Registrar compra</a>
    </div>
    <div>
        <a href="/view/payment">Programación de pagos</a>
    </div>
</body>

</html>