<!DOCTYPE html>
<html>

<head>
    <h1>
        Simular una compra
    </h1>
        
</head>

<body>
    <form action="/view/purchase-simulate">
        <div>
            Monto de la compra: <input type="number" name="purchase_amount" />
        </div>
        <div>
            Número de tarjeta: <input type="text" name="card_number" />
        </div>
        <div>
            Número de cuotas: <input type="number" name="num_installments" />
        </div>
        <input type="submit" step="any" value="Simular Compra" />
    </form>
</body>

</html>