<!DOCTYPE html>
<html>

<head>

</head>

<body>
    
    <table>
        <h1>Programación de pagos</h1>
        <!-- El elemento thead describe el area de encabezado en  la tabla -->
        <thead style="font-weight: bold;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>

        <!-- El elemento tbody describe el cuerpo de la tabla -->
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <!-- tfoot se usa para describir el pie de la tabla -->
        <tfoot style="background-color: lightblue;">
        </tfoot>
    </table>
</body>

</html>