<!DOCTYPE html>
<html>

<head>
    <h1>
        Programación de pagos
    </h1>
        
</head>

<body>
    <form action="/view/payment-sheduling">
        <div>
            Número de cédula: <input type="number" name="owner_id" />
        </div>
        <div>
            Fecha Inicio: <input type="date" name="start_date" />
        </div>
        <div>
            Fecha Final: <input type="date" name="end_date" />
        </div>
        <input type="submit" step="any" value="Ver programación" />
    </form>
</body>

</html>