<!DOCTYPE html>
<html>

<head>
    <h1>
        Ahorro programado
    </h1>
        
</head>

<body>
    <form action="/view/simulate-saving">
        <div>
            Monto de la compra: <input type="number" name="purchase_amount" />
        </div>
        <div>
            Cuota mensual: <input type="number" name="monthly_payment" />
        </div>
        <div>
            Tasa de interés: <input type="number" name="interest_rate" />
        </div>
        <input type="submit" value="Calcular" />
    </form>
</body>

</html>